/*
 * DubDeck custom theme
 * Variables
 * @override minimal-mistakes
 */

$font-family-global: 'Lato', sans-serif !default;
$font-family-heading: 'Lato', sans-serif !default;
$ont-family-caption: 'Lato', sans-serif !default;